.home-message {
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    height: 100%;
    padding-bottom: 30px;
    border-radius: 10px;
}

@media (max-width: 768px) {
    .home-message{
        width: 90%;
    }
}