@import './styles/Breadcrums.scss';
@import './styles/Loader.scss';
@import './styles/SearchBox.scss';
@import './styles/SearchResult.scss';
@import './styles/Header.scss';
@import './styles/Divider.scss';
@import './styles/ProducstDetails.scss';

body {
  font-family: Arial, sans-serif;
  padding: 0;
  margin: 0;
}

.main {
  background-color: #EEEEEE;
  padding: 10px 0px;
  display: flex;
  justify-content: center;
  min-height: 100vh;
}

h1 {
  color: #333;
}
